body{
	width: 99vw;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Arial'; 
}

header{
	width: 99vw;
	height: 100px;
	margin: 3px 0% 10px 0%;
	display: flex;
	border-radius: 8px;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.img_slider{
    display: none;
}

.img_slider img{
    width: 100%;
}

.advantages{
    width: 100%;
    background-color: white;
}

.advantages h2{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.advantages h3{
    display: flex;
    justify-content: center;
}

.advantages_img{
    display: flex;
    justify-content: space-evenly;
}

.advantages_img img{
    width: 150px;
}

.advantages_images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages_info{
    display: flex;
    background-color: #06001a96;
    color: white;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.advantages_info h2{
    margin: 0px;
}

.navbar {
    position: fixed;
    width: 99vw;
    height: 100px;
    border-radius: 8px;
    background: #75c5d0;
    z-index: 10000;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu > li > a {
    text-decoration: none;
}

.navbar__wrap .menu {
    display: flex;
}

.navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
}

.navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #FFEDBC;
}

.navbar__wrap .menu > li > a:hover {
    color: #FFBF40;
}

.logo{
	width: 6%;
}

.logo img{
	height: 100%;
}

.menu{
	width: 70%;
	display: flex;
	padding: 0px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.8em;
}

.auth{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    font-size: 1.8em;
}

.auth a,
.menu a{
    color: #FFEDBC;
}

.auth a:hover,
.menu a:hover{
    color: #FFBF40;
    transition: 0.5s;
}

a {
	text-decoration: none;
}

.menu li,
.auth li{
    color: #FFEDBC;
    transition: 0.5s;
}

li{
    list-style-type: none;
}

main{
	width: 100%;
	display: flex;
	margin: 0px 0% 1% 0%;
    border-radius: 10px;
    background-color: #dfdfe3;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

main h1{
	margin: 1% 0px 1% 0px;
}

.container_popup_feedback{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.7);
    z-index: 10001;
    justify-content: center;
    align-items: center;
}

.popup_feedback{
    width: 400px;
    background-color: white;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.7);
}

#popup_feedback{
    cursor:pointer
}

.popup_feedback_form{
    padding: 20px;
}

#close-button{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.display_none, .display_none_container_popup_feedback{
    display: none;
}

.content{
    width: 94%;
    height: auto;
    margin: 0px 3% 0% 3%;
}

.bx-wrapper,
.bx-pager{
    padding-top: 0px !important;
}

.sliderblock{
    display: flex;
    justify-content: center;
}

.bx-wrapper{
    max-width: 91% !important;
}

.form-input{
    height: 20px;
    font-size: 1.1em;
}

.submit{
    width: auto;
    padding: 8px 14px;
    font-size: 1em;
    border-radius: 8px;
    background: #f6f6f6;
	border: 1px solid #cecece;
	box-shadow: inset 0px 20px 20px #ffffff;
	cursor: pointer;
}

.submit:hover{
	box-shadow: inset 0px -20px 20px #ffffff;
}

.submit:active{
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}

.submit:focus{
	outline:none;
}

.form_trim{
    margin-bottom: 1.5%;
}

.img_trim{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.img_trim img{
    width: 100%;
}

.working_with_images_p{
    color: black;
    font-size: 1.5em;
}

.working_with_images_p_images{
    width: 100%;
    color: black;
    font-size: 1.5em;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
}

th, td {
    width: 250px;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th:first-child, td:first-child {
    border-right: none;
}

footer{
	width: 100%;
	height: 50px;
	background: #333;
	border-radius: 10px;
}

.text_footer{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    color: white;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select:after {
    content: '\25BC'; /* стрелочка вниз (▼) */
    position: absolute;
    top: 20px;
    right: 2px;
    transform: translateY(-50%);
    pointer-events: none; /* события мыши проходят сквозь псевдоэлемент */
}

.custom-select select {
    cursor: pointer;
    padding: 10px 20px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none; /* убираем стандартные стрелки */
}

.custom-select select:focus {
    outline: none; /* убираем стандартную рамку при фокусе */
}

@media (max-width: 1024px) {

    header{
        height: 80px;
    }

    .content h2, h3{
        font-size: 1.1em;
    }

    .sliderblock{
        display: none;
    }

    .img_slider{
        display: block;
    }

    .advantages_img img{
        width: 100px;
    }

    .advantages_img {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .working_with_images_p {
        font-size: 1.3em;
    }

    .navbar{
        height: 80px;
    }

    .navbar__wrap .menu, .auth{
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        flex-direction: column;
        top: 80px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        transition: 0.3s;
    }

    .popup.open {
        left: 0;
        z-index: 10000;
    }

    .popup .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        overflow: auto;
        flex-direction: column;
    }

    .popup .auth{
        display: block;
        width: 100%;
    }

    .popup .menu > li {
        width: 100%;
    }

    .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 0.9em;
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .menu > li > a:hover {
        color: #FFBF40;
        transition: 0.5s;
    }

    .popup .auth > li{
        width: max-content;
        margin: 0 auto;
        font-weight: bold;
        color: #3f3f3f;
        font-size: 0.9em;
    }

    .popup .auth > li > a{
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .auth > li > a:hover {
        color: #FFBF40;
        transition: 0.5s;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }

    .select_face_photo{
        width: 100%;
    }

    .responsive-table {
        width: 100%;
    }
    .responsive-table thead {
        display: none;
    }
    .responsive-table tbody, .responsive-table tr, .responsive-table td {
        display: block;
    }
    .responsive-table td {
        text-align: center;
    }

} /*@media (max-width: 1000px)*/
