<!doctype html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel=“stylesheet” href=“https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css”>
    <link rel="stylesheet" href="{% static 'js/bxslider/dist/jquery.bxslider.css'%}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>

{% block popup %}
<div class="display_none_container_popup_feedback" id="container_popup_feedback">
    <div class="popup_feedback" id="popup_feedback_class">

        <form class="popup_feedback_form" method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div id="close-button">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z" fill="#333333" />
                    <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
                </svg>
            </div>

            <h2>Обратная связь с разботчиком</h2>
            <label for="id_descriptions">Описание:</label>
            <input type="text" name="descriptions" class="form-input" required id="id_descriptions">

            <p><input type="text" name="users_id" value="{{user.id}}" class="display_none"></p>

            <p><button type="submit" class="submit">Отправить</button></p>
        </form>

    </div> <!-- class="popup_feedback" -->
</div>
{% endblock popup %}


{% block header %}

<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar__wrap">
                <div class="hamb">
                    <div class="hamb__field" id="hamb">
                        <span class="bar"></span> <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <!-- <a href="#" class="logo" id="logo">Logo</a> -->
                <img src="{% static 'img/logo.png' %}" alt="Логотип">
                <ul class="menu" id="menu">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li><a id="popup_feedback">Обратная связь</a></li>
                        <li><a href="{% url 'working_with_images' users_id=user.id %}">Распознавание лиц</a></li>
                    {% else %}
                    {% endif %}
                </ul>
                <div class="auth">
                    {% if user.is_authenticated %}
                        <li> {{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Войти</a> | <a href="{% url 'registration' %}">Регистрация</a></li>
                    {% endif %}
                </div><!-- class="auth" -->
            </div><!-- class="navbar__wrap" -->
        </div><!-- class="container" -->
    </nav>
    <div class="popup" id="popup"></div>
</header>

{% endblock header %}

{% block main %} {% endblock main %}

{% block footer %}

<footer>

</footer>

{% endblock footer %}

{% block scripts %}

<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}
</body>
</html>