{% extends 'face_app/base.html' %}
{%load static%}
{% block title%}Распознование лиц{% endblock title %}

{% block main %}

<main>

<!--    {% if context.welcome_text %}-->
<!--        {{ context.welcome_text }}-->
<!--    {% elif context.sorry_text %}-->
<!--        {{ context.sorry_text }}-->
<!--    {% endif %}-->

    <div class="content">

        <h2>Здравствуйте! Мы рады видеть вас на нашем сайте.
        Аторизуйтесь, чтобы получить доступ ко всем функциям сайта!</h2>

        <div class="sliderblock">
            <div class="slider">
                <div><img src="{% static 'img/sld_1.jpeg' %}" alt="Слайдер 1"></div>
                <div><img src="{% static 'img/sld_2.png' %}" alt="Слайдер 2"></div>
                <div><img src="{% static 'img/sld_3.jpg' %}" alt="Слайдер 3"></div>
            </div> <!-- class="slider" -->
		</div> <!-- class="sliderblock" -->

        <h3>Мы постоянно обновляем наши алгоритмы, чтобы улучшить качество распознавания и предоставить вам наиболее точные результаты. Однако стоит помнить, что точность распознавания зависит от качества фотографии и индивидуальных особенностей лица каждого человека.</h3>

        <h3>Наш сервис прост в использовании и не требует специальных навыков. Просто загрузите фотографию и дождитесь результатов. Мы гарантируем конфиденциальность ваших данных и не передаем их третьим лицам.</h3>

        <h3>Не упустите возможность использовать наш сервис для распознавания лиц и узнайте больше о людях, которые вас окружают!</h3>

    </div> <!-- class="content" -->

</main>

{% endblock main %}

{% block footer %}

<footer>
    <div class="text_footer">
        <h3>© 2024 Все права защищены</h3>
    </div>
</footer>

{% endblock footer %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bxslider/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}