{% extends 'face_app/base.html' %}
{%load static%}
{% block title%}Распознавание лиц{% endblock title %}

{% block main %}

<main>
    <div class="content">

        {% if user.is_authenticated %}
            <h2>Здравствуйте! Мы рады видеть вас на нашем сайте.
            Воспользуйтесь возможносятми сайта!</h2>
        {% else %}
            <h2>Здравствуйте! Мы рады видеть вас на нашем сайте.
            Авторизуйтесь, чтобы получить доступ ко всем возможностям сайта!</h2>
        {% endif %}

        <div class="img_slider">
            <img src="{% static 'img/sld_1.jpeg' %}" alt="Слайдер 1">
        </div>

        <div class="sliderblock">
            <div class="slider">
                <div><img src="{% static 'img/sld_1.jpeg' %}" alt="Слайдер 1"></div>
                <div><img src="{% static 'img/sld_2.png' %}" alt="Слайдер 2"></div>
                <div><img src="{% static 'img/sld_3.jpg' %}" alt="Слайдер 3"></div>
            </div> <!-- class="slider" -->
		</div> <!-- class="sliderblock" -->

        <div class="advantages">
            <h2>Наши преимущества:</h2>
            <div class="advantages_img">
                <div class="advantages_images">
                    <img class="advantages_img" src="{% static 'img/update.png' %}" alt="">
                    <h3>Обновления</h3>
                </div>
                <div class="advantages_images">
                    <img class="advantages_img" src="{% static 'img/prosto.png' %}" alt="">
                    <h3>Простота использования</h3>
                </div>
                <div class="advantages_images">
                    <img class="advantages_img" src="{% static 'img/securitu.png' %}" alt="">
                    <h3>Надёжность</h3>
                </div>
            </div><!-- class="advantages" -->
        </div><!-- class="advantages" -->

        <div class="advantages_info">
            <h2>«Обновления»</h2>
            <h3>Мы постоянно обновляем алгоритмы, чтобы улучшить качество распознавания и предоставить вам наиболее точные результаты. Однако стоит помнить, что точность распознавания зависит от качества фотографии и индивидуальных особенностей лица каждого человека.</h3>
        </div>

        <div class="img_slider">
            <img src="{% static 'img/sld_2.png' %}" alt="Слайдер 2">
        </div>

        <div class="advantages_info">
            <h2>«Простота использования»</h2>
            <h3 class="advantages_h3">Наш сервис прост в использовании и не требует специальных навыков. Просто загрузите фотографию и дождитесь результатов.</h3>
        </div>

        <div class="img_slider">
            <img src="{% static 'img/sld_3.jpg' %}" alt="Слайдер 3">
        </div>

        <div class="advantages_info">
            <h2>«Надёжность»</h2>
            <h3 class="advantages_h3">Когда вы загружаете свои изображения, вы можете быть уверены, что они останутся конфиденциальными и недоступными для третьих лиц. Мы делаем все возможное, чтобы ваш опыт использования нашего сервиса был безопасным и комфортным.</h3>
        </div>
        <div class="advantages_info">
            <h3 class="advantages_h3">Не упустите возможность использовать наш сервис для распознавания лиц и узнайте больше о людях, которые вас окружают!</h3>
        </div>
    </div> <!-- class="content" -->

</main>

{% endblock main %}

{% block scripts %}

<script src="{% static 'js/jquery-3.7.0.js' %}"></script>
<script src="{% static 'js/bxslider/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}


