{% extends 'face_app/base.html' %}
{%load static%}
{% block title%}Распознование лиц{% endblock title %}

{% block main %}

<main>

    {% if context.welcome_text %}
        {{ context.welcome_text }}
    {% elif context.sorry_text %}
        {{ context.sorry_text }}
    {% endif %}

    <div class="content">
        <h2> Добро пожаловать на наш веб-сайт по распознаванию лиц! Мы предлагаем передовые технологии и алгоритмы для идентификации людей по их фотографиям.</h2>

        <div class="sliderblock">
            <div class="slider">
                <div><img src="{% static 'img/slider_1.jpg' %}" alt=""></div>
                <div><img src="{% static 'img/slider_2_.jpg' %}" alt=""></div>
                <div><img src="{% static 'img/slider_3_.jpg' %}" alt=""></div>
            </div> <!-- class="slider" -->
		</div> <!-- class="sliderblock" -->

        <p></p>

        <h3>Используя наш сервис, вы можете загрузить фотографию человека, и мы проанализируем ее, чтобы предоставить вам информацию о нем. Мы работаем с базами данных по всему миру, чтобы обеспечить максимальную точность и надежность результатов.</h3>

        <h3>Мы постоянно обновляем наши алгоритмы, чтобы улучшить качество распознавания и предоставить вам наиболее точные результаты. Однако стоит помнить, что точность распознавания зависит от качества фотографии и индивидуальных особенностей лица каждого человека.</h3>

        <h3>Наш сервис прост в использовании и не требует специальных навыков. Просто загрузите фотографию и дождитесь результатов. Мы гарантируем конфиденциальность ваших данных и не передаем их третьим лицам.</h3>

        <h3>Не упустите возможность использовать наш сервис для распознавания лиц и узнайте больше о людях, которые вас окружают!</h3>

    </div> <!-- class="content" -->

</main>

{% endblock main %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'js/bxslider/dist/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}
