{% extends 'face_app/base.html' %}
{%load static%}

{% block title%}Авторизация{% endblock title %}


{% block main %}

<main>
    <h1>Авторизация</h1>

    <form method="post">
        {% csrf_token %}
        <p><label for="id_username" class="form_label">Логин:</label>
            <input type="text" name="username" class="form-input" maxlength="150" required="" id="id_username"></p>
        <p><label for="id_password" class="form_label">Пароль:</label>
            <input type="password" name="password" class="form-input" required="" id="id_password"></p>
        <p><button type="submit" class="submit">Войти</button></p>
    </form>
</main>

{% endblock main %}
