{% extends 'face_app/base.html' %}
{%load static%}

{% block title%}Регистрация{% endblock title %}

{% block main %}

<main>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        <p><tr><th><label for="id_username">Логин:</label></th><td>
            <input type="text" class="form-input" name="username" required id="id_username"></td></tr></p>
        <p><tr><th><label for="id_email">Почта:</label></th><td>
            <input type="email" class="form-input" name="email" required maxlength="254" id="id_email"></td></tr><p>
        <p><tr><th><label for="id_first_name">Имя:</label></th><td>
            <input type="text" class="form-input" name="first_name" required maxlength="150" id="id_first_name"></td></tr><p>
        <p><tr><th><label for="id_last_name">Фамилия:</label></th><td>
            <input type="text" class="form-input" name="last_name" required maxlength="150" id="id_last_name"></td></tr><p>
        <p><tr><th><label for="id_password">Пароль:</label></th><td>
            <input type="password" class="form-input" name="password" required id="id_password"></td></tr><p>
        <p><tr><th><label for="id_password2">Повтор пароля:</label></th><td>
            <input type="password" class="form-input" name="password2" required id="id_password2"></td></tr><p>
        <p><button type="submit" class="submit">Зарегистрироваться</button></p>
    </form>
</main>

{% endblock main %}
