{% extends 'face_app/base.html' %}
{%load static%}

{% block title%}Таблица показателей{% endblock title %}

{% block main %}
<main>
    <h2>Сводные технико-экономические показатели разработки ПП</h2>
<table class="stats">
    <tr>
        <th>Показатель</th>
        <th>Ед. измерения</th>
        <th>Значение показателя</th>
    </tr>
    <tr>
        <th colspan="3">1. Технические показатели</th>
    </tr>
    <tr>
        <td>Среднее время работы программного продукта</td>
        <td>час.</td>
        <td>379,18</td>
    </tr>
    <tr>
        <th colspan="3">2. Экономические показатели</th>
    </tr>
    <tr>
        <td>Себестоимость программного продукта</td>
        <td>руб.</td>
        <td>107767,03</td>
    </tr>
    <tr>
        <td>Капитальные вложения</td>
        <td>руб.</td>
        <td>5865,57</td>
    </tr>
    <tr>
        <td>Прибыль от реализации программного продукта</td>
        <td>руб.</td>
        <td>2125,45</td>
    </tr>
    <tr>
        <td>Отпускная цена программного продукта</td>
        <td>руб.</td>
        <td>111167,75</td>
    </tr>
    <tr>
        <td>Коэффициент экономической эффективности</td>
        <td>%</td>
        <td>1,81</td>
    </tr>
    <tr>
        <td>Срок окупаемости</td>
        <td>мес.</td>
        <td>6,6</td>
    </tr>
    <tr>
        <td>Затраты на машино–час услуг</td>
        <td>руб./час.</td>
        <td>284,21</td>
    </tr>
    <tr>
        <td>Рентабельность производства</td>
        <td>%</td>
        <td>27,77</td>
    </tr>
</table>


<!--<table class="stats">-->
<!--    <tr>-->
<!--        <th>Показатель</th>-->
<!--        <th>Ед. измерения</th>-->
<!--        <th>Значение показателя</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th colspan="3" style="text-align: left;">1. Технические показатели</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Среднее время работы программного продукта</td>-->
<!--        <td>час.</td>-->
<!--        <td>379,18</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th colspan="3" style="text-align: left;">2. Экономические показатели</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Себестоимость программного продукта</td>-->
<!--        <td>руб.</td>-->
<!--        <td>107767,03</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Капитальные вложения</td>-->
<!--        <td>руб.</td>-->
<!--        <td>5865,57</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Прибыль от реализации программного продукта</td>-->
<!--        <td>руб.</td>-->
<!--        <td>2125,45</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Отпускная цена программного продукта</td>-->
<!--        <td>руб.</td>-->
<!--        <td>111167,75</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Коэффициент экономической эффективности</td>-->
<!--        <td>%</td>-->
<!--        <td>1,81</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Срок окупаемости</td>-->
<!--        <td>мес.</td>-->
<!--        <td>6,6</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Затраты на машино–час услуг</td>-->
<!--        <td>руб./час.</td>-->
<!--        <td>284,21</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Рентабельность производства</td>-->
<!--        <td>%</td>-->
<!--        <td>27,77</td>-->
<!--    </tr>-->
<!--</table>-->

</main>

{% endblock main %}

{% block scripts %}

<script src="{% static 'js/main.js' %}"></script>

{% endblock scripts %}