{% extends 'face_app/base.html' %}
{%load static%}

{% block title%}Сравнение изображений{% endblock title %}

{% block main %}

<main>
    <div class="content">
        <div class="img_trim">
            <p class="working_with_images_p">Ваши изображения:</p>
            {% for i in face_user %}
                <img src="{{i.face_photo.url}}" alt="">
            {% endfor %}
        </div>

        <p class="working_with_images_p">Обрезать фото (оставить только лицо):</p>
        <form class="working_with_images_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><tr><th><label for="face_photo">Изображение лица: </label></th><td><input type="file" name="face_photo" required id="face_photo"></td></tr><p>
            <p><input type="text" name="users_id" value="{{user.id}}" class="display_none"></p>
            <p><button type="submit">Обрезать</button></p>
        </form>
    </div>
</main>

{% endblock main %}

{% block footer %}{% endblock footer %}